body {
	margin: 10px;
	font-family: sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #2A2A2A;
  color: white;
}

hr {
  height: 3px;
  background-color: #2A2A2A;
}

.header {
  text-align: center;
  padding: 22px;
  background-color: #A9CCE3;
  color: black;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  /*background-color: #939F9F;*/
  background-color: #A9CCE3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.button {
  background-color: #2980B9 ;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.1s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.2);
}

.button:hover {
  background-color: #2471A3;
}

.button:active {
  background-color: #2471A3;
  box-shadow: 0 0 0 0;
  transform: translateY(2px);
}

.blockquote {
    font-family: Georgia, serif;
    font-size: 22px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: black;
}

.blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7A7A7A;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 20px;
  visibility: hidden;
  width: 250px;
  background-color: #2A2A2A;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #2A2A2A transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptextbottom {
  font-size: 15px;
  visibility: hidden;
  width: 400px;
  background-color: #2A2A2A;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 0px;
  margin-left: 0px;
}

.tooltip .tooltiptextbottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2A2A2A transparent;
}

.tooltip:hover .tooltiptextbottom {
  visibility: visible;
}