{% extends "base.html" %}
{% block title %}Internal Server Error{% endblock %}


{% block content %}
  <h1>Internal Server Error</h1>
  <p style="text-align:center;">
    Oops... sorry! 
    <br> Something went wrong in our Application, probably our Object Detection Net RetinaNet from ImageAI
    couldn't find enough objects in your picture, 
    <br> pls try another one.
  </p>
{% endblock %}