<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <footer>
	    <div>
		    <form action = "/" style = "display: inline;">
		    	<input type = "submit" value = "Home" class = "button"/>
			</form>
            <form action = "/about" style = "display: inline;">
		    	<input type = "submit" value = "About" class = "button"/>
			</form>
		</div>
    	<p>Authors: Steffen Roßkopf, Sebastian Maier, Cornelius Martin</p>
    </footer>
</body>
</html>
