{% extends 'base.html' %}

{% block content %}
    <div class = "header">
    	<h1>Detecting Out-of-Context Images in Online Misinformation</h1>
    </div>
    <div class = "grid-container">
    	<div class = "grid-item" style = "grid-column-start: 1; grid-column-end: 3; grid-auto-rows: 400px; overflow: auto;">
    		<p style = "font-size: 20px; text-align: left;">Spreading <b>misinformation</b> has never been easier and arguably more dangerous than it is today. 
				This application focuses on identifying so-called <b>“cheap fakes”</b>, i.e. caption and image pairs, 
				where the caption is used to alter the context of the image <b>without manipulating the image itself.</b></p>
			<p style = "font-size: 20px; text-align: left;">The main model to analyse potential “cheap fakes” follows the approach developed by 
				Shivangi Aneja, Chris Bregler, and Matthias Nießner and publicized in their 2021 paper 
				<i>Cosmos: Catching Out-of-Context Misinformation with Self-Supervised Learning.</i> 
				The model detects objects in the image and determines whether they are used in the <b>same context</b> in two captions.</p>
			<p style = "font-size: 20px; text-align: left;">Additionally, the captions are analysed regarding the probability of being <b>fake news</b>, 
				<b>hate speech</b> and <b>politically biased</b>. This helps to form an opinion on the reliability of the individual caption. 
				Regarding fake news and hate speech, multiple famous datasets are provided by researchers with text of 
				different origin (news articles, twitter, etc.). Hence, we provide multiple classifiers, each trained on one 
				of the selected datasets. Considering the area spanned by the individual scores (see radar charts) helps 
				to gain a more generalized option on the respective classification topic.</p>
			<p></p>
			<p style = "font-size: 20px; text-align: left;">The application offers two options for fact checkers:</p>
			<p style = "font-size: 30; text-align: left;">Option 1: Upload of an Image-Caption pair</p>
			<p style = "font-size: 20px; text-align: left;">In this case you can make use of our database that contains images with two captions 
				from trustworthy sources (both in context with the image). If your image exists in the database, 
				our algorithm will find the respective captions, even if your image is mirrored, captured from a slightly 
				different angle or slightly zoomed in/out. Your uploaded caption is then checked if it is in context with the 
				approved captions with respect to the image you provided. Finally, additional classification scores are calculated to 
				further check the reliability of your caption.</p>
			<p style = "font-size: 30; text-align: left;">Option 2: Upload of an Image-2 Captions triplet</p>
			<p style = "font-size: 20px; text-align: left;">In case there is no match of your image in our database, 
				you can still simulate the test for out-of-context usage by uploading two captions instead of one. 
				This option is alco useful if you found the same image with two different captions on different websites.</p>
    	</div>
    	<div class = "grid-item" style = "text-align: left;">
		    <form action = "/results" method = "POST" enctype = "multipart/form-data">
		    	<p>
		    		Image: <input type = "file" name = "file" class = "form" autocomplete = "off" required/>
		    	</p>
		    	<p>
		    		Caption: <input type = "text" name = "Caption" placeholder = "Write your caption here" autocomplete = "off" required/>
		    	</p>
		    	<p>
		    		<input type = "submit" value = "Upload" class = "button"/>
		    	</p>
			</form>
		</div>
	</div>
{% endblock %}