{% extends 'base.html' %}

{% block content %}
    <div class = "header">
        <h1>Detecting Out-of-Context Images in Online Misinformation</h1>
    </div>
    <div class = "grid-container">
        <div class = "grid-item" style = "grid-column-start: 1; grid-column-end: 3">
            <span style='font-size:100px;'>&#128533;</span>
            <p>No matching image was found. Please upload the image again and add a second caption to test for Out-of-Context use.</p>
        </div>
        <div class = "grid-item" style = "text-align: left">
            <form action = "/results_addition" method = "POST" enctype = "multipart/form-data">
                <p>
                    Image: <input type = "file" name = "file" class = "form" autocomplete = "off" required/>
                </p>
                <p>
                    Caption: <input type = "text" name = "Caption" placeholder = "Write your caption here" autocomplete = "off" required/>
                </p>
                <p>
                    Additional Caption: <input type = "text" name = "Additional_Caption" placeholder = "Write an additional caption here" autocomplete = "off" required/>
                <p>
                    <input type = "submit" value = "Upload" class = "button"/>
            </form>
        </div>
    </div>
{% endblock %}