{% extends 'base.html' %}

{% block content %}
    <div class = "header">
        <h1>Results</h1>
    </div>
    <div class = "grid-container" style = "background-color: #2A2A2A;">
        <!---<div class = "grid-item" style = "background-color: #2A2A2A; border: none; border-radius: 0px">--->
            <div class = "grid-item" style = "background-color: #2A2A2A;">
                <!---<p>Similarity Score:</p>--->
                <!---<p>{{sim_score_1}}</p>--->
            </div>
            <div class = "grid-item" style = "padding: 5px;">
                <img src = "{{ url_for('display_image', filename = filename_with_boxes) }}" style = "max-height: 500px; max-width: 500px;" >
            </div>
            <div class = "grid-item" style = "background-color: #2A2A2A;">
                <!---<p>Similarity Score:</p>--->
                <!---<p>{{sim_score_2}}</p>--->
            </div>
    </div>
    <div class = "grid-container">
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 4">
            <p>A similar image was used with these captions from trustworthy sources:</p>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; border-style: solid; border-width: 15px; border-color: #C4841C;">
            <p class = "blockquote">{{ suggested_caption_1 }}</p>
        </div>
        <div class = "grid-item" style = "border-style: solid; border-width: 15px; border-color: #46AE25">
            <p class = "blockquote">{{ suggested_caption_2 }}</p>
        </div>
        <div class = "grid-item" style = "border-style: solid; border-width: 15px; border-color: #1B39A9;">
            <p>Your Caption:</p>
            <p class = "blockquote">{{ uploaded_caption }}</p>
        </div>
        {% if not is_OOC_1 %}
        <div class = "tooltip">
            <div class = "grid-item" style = "border-radius: 50px; background-color: rgba(127, 255, 127, 0.8)">
                <span style='font-size:30px;'>&#10004;</span>
                <p>{{ OOC_1 }}</p>
                <hr>
                <p>Similarity Score: {{ sim_score_1 }}</p>
            </div>
            <span class = "tooltiptextbottom">
                Out of Context: The captions refer to the same object in the image (similar bounding boxes) 
                but have a different meaning (low similarity score). <br><br>
                In Context: The captions refer to different objects (different bounding boxes), 
                or refer to the same object but have similar meanings (high similarity score).
            </span>
        </div>
        {% endif %}
        {% if is_OOC_1 %}
        <div class = "tooltip">
            <div class = "grid-item" style = "border-radius: 50px; background-color: rgba(255, 127, 127, 0.8)">
                <span style='font-size:30px;'>&#10008;</span>
                <p>{{ OOC_1 }}</p>
                <hr>
                <p>Similarity Score: {{ sim_score_1 }}</p>
            </div>
            <span class = "tooltiptextbottom">
                Out of Context: The captions refer to the same object in the image (similar bounding boxes) 
                but have a different meaning (low similarity score). <br><br>
                In Context: The captions refer to different objects (different bounding boxes), 
                or refer to the same object but have similar meanings (high similarity score).
            </span>
        </div>
        {% endif %}
        {% if not is_OOC_2 %}
        <div class = "tooltip">
            <div class = "grid-item" style = "border-radius: 50px; background-color: rgba(127, 255, 127, 0.8)">
                <span style='font-size:30px;'>&#10004;</span>
                <p>{{ OOC_2 }}</p>
                <hr>
                <p>Similarity Score: {{ sim_score_2 }}</p>
            </div>
            <span class = "tooltiptextbottom">
                Out of Context: The captions refer to the same object in the image (similar bounding boxes) 
                but have a different meaning (low similarity score). <br><br>
                In Context: The captions refer to different objects (different bounding boxes), 
                or refer to the same object but have similar meanings (high similarity score).
            </span>
        </div>
        {% endif %}
        {% if is_OOC_2 %}
        <div class = "tooltip">
            <div class = "grid-item" style = "border-radius: 50px; background-color: rgba(255, 127, 127, 0.8)">
                <span style='font-size:30px;'>&#10008;</span>
                <p>{{ OOC_2 }}</p>
                <hr>
                <p>Similarity Score: {{ sim_score_2 }}</p>
            </div>
            <span class = "tooltiptextbottom">
                Out of Context: The captions refer to the same object in the image (similar bounding boxes) 
                but have a different meaning (low similarity score). <br><br>
                In Context: The captions refer to different objects (different bounding boxes), 
                or refer to the same object but have similar meanings (high similarity score).
            </span>
        </div>
        {% endif %}
    </div>
    <div class = "grid-container">
        <div class = "grid-item" style = "grid-column-start: 1; grid-column-end: 4">
            <p>Additional information about the captions:</p>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = fake_spdr_3) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Estimated fake-news probability for each of the three captions, by three different 
                    models trained on different data.
                </span>
            </div>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = hate_spdr_3) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Estimated hate-speech probability for each of the three captions, by three different 
                    models trained on different data.
                </span>
            </div>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = fake_bar) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Similarity between the captions and a sentence constructed of fake-news indicator words.
                </span>
            </div>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = hate_bar) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Similarity between the captions and a sentence constructed of hate-speech indicator words.
                </span>
            </div>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = media_bias) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Intensity of media bias in the three captions.
                </span>
            </div>
        </div>
    </div>
{% endblock %}