{% extends 'base.html' %}

{% block content %}
    <div class = "header">
        <h1>Results</h1>
    </div>
    <div class = "grid-item" style = "background-color: #2A2A2A; border: none; border-radius: 0px">
        <div style = "display: block; margin-left: auto; margin-right: auto;">
            <img src = "{{ url_for('display_image', filename = filename_with_boxes) }}" style = "max-height: 500px; max-width: 500px;">
        </div>
    </div>
    <div class = "grid-container" style = "grid-template-columns: auto auto auto auto">
        <div class = "grid-item" style = "grid-column-start: 1; grid-column-end: 5">
            <p>Your two captions:</p>
        </div>
        <div class = "grid-item" style = "grid-column-start: 1; grid-column-end: 3; border-style: solid; border-width: 15px; border-color: #1B39A9;">
            <p class = "blockquote">{{ uploaded_caption }}</p>
        </div>
        <div class = "grid-item" style = "grid-column-start: 3; grid-column-end: 5; border-style: solid; border-width: 15px; border-color: #C4841C;">
            <p class = "blockquote">{{ additional_caption }}</p>
        </div>
        {% if not is_OOC_1 %}
            <div class = "grid-item" style = "border-radius: 50px; grid-column-start: 2; grid-column-end: 4; background-color: rgba(127, 255, 127, 0.8)">
                <div class = "tooltip">
                <span style='font-size:30px;'>&#10008;</span>
                <p>{{ OOC_1 }}</p>
                <hr>
                <p>Similarity Score: {{ sim_score_3 }}</p>
            <span class = "tooltiptextbottom">
                Out of Context: The captions refer to the same object in the image (similar bounding boxes) 
                but have a different meaning (low similarity score). <br><br>
                In Context: The captions refer to different objects (different bounding boxes), 
                or refer to the same object but have similar meanings (high similarity score).
            </span>
            </div>
        </div>
        {% endif %}
        {% if is_OOC_1 %}
            <div class = "grid-item" style = "border-radius: 50px; grid-column-start: 2; grid-column-end: 4; background-color: rgba(255, 127, 127, 0.8)">
                <div class = "tooltip">
                <span style='font-size:30px;'>&#10008;</span>
                <p>{{ OOC_1 }}</p>
                <hr>
                <p>Similarity Score: {{ sim_score_3 }}</p>
            <span class = "tooltiptextbottom">
                Out of Context: The captions refer to the same object in the image (similar bounding boxes) 
                but have a different meaning (low similarity score). <br><br>
                In Context: The captions refer to different objects (different bounding boxes), 
                or refer to the same object but have similar meanings (high similarity score).
            </span>
            </div>
        </div>
        {% endif %}
    </div>
    <div class = "grid-container">
        <div class = "grid-item" style = "grid-column-start: 1; grid-column-end: 4">
            <p>Additional information about your captions:</p>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = fake_spdr_2) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Estimated fake-news probability for each of the two captions, by three different 
                    models trained on different data.
                </span>
            </div>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = hate_spdr_2) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Estimated hate-speech probability for each of the two captions, by three different 
                    models trained on different data.
                </span>
            </div>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = fake_bar_2) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Similarity between the captions and a sentence constructed of fake-news indicator words.
                </span>
            </div>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = hate_bar_2) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Similarity between the captions and a sentence constructed of hate-speech indicator words.
                </span>
            </div>
        </div>
        <div class = "grid-item" style = "grid-column-start: 2; grid-column-end: 3; background-color: white;">
            <div class = "tooltip">
                <img src = "{{ url_for('display_image', filename = media_bias_2) }}" style = "width: 500px; height: auto">
                <span class = "tooltiptext">
                    Intensity of media bias in the three captions.
                </span>
            </div>
        </div>
    </div>
{% endblock %}